/* Emulates a thin smoked glass pane with text content. */
.smokedGlass {
  background-color: #0029;
  box-shadow: 3px 3px #001c;
  text-shadow: 3px 3px #0007;
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
}

/* Emulates a thin glass pane with text content. */
.glass {
  background-color: #1357;
  box-shadow: 3px 3px #1139;
  text-shadow: 3px 3px #1115;
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
}

.relishGlass {
	background-color: #2E01;
	box-shadow: 3px 3px #1D03;
	text-shadow: 3px 3px #1D01;
	backdrop-filter: blur(2.6px);
	-webkit-backdrop-filter: blur(2.6px);
}

.coffeeGlass {
	background-color: #FA01;
	box-shadow: 3px 3px #D803;
	text-shadow: 3px 3px #D801;
	backdrop-filter: blur(2.6px);
	-webkit-backdrop-filter: blur(2.6px);
}
